section {
  width: 100vw;
  height: 100vh;
  background-color: var(--grey-4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 280px;
  display: flex;
}

.ilustration {
  display: none;
}

@media (min-width: 360px) {
  .container {
    width: 300px;
  }
}

@media (min-width: 375px) {
  .container {
    width: 340px;
  }
}

@media (min-width: 400px) {
  .container {
    width: 370px;
  }
}