.slogan__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.logo {
  width: 7rem;
  height: 1.5rem;
}

.slogan__title,
.slogan__headline {
  color: var(--grey-0);
}

.slogan__title {
  font-weight: 800;
  font-size: 2.5rem;
}

.slogan__headline {
  font-size: 1.2rem;
}

#slogan__start__btn {
  width: 70%;
  height: 2.5rem;
  background-color: var(--color-primary);
  border-radius: .5rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--grey-0);
}
